  html, body {
        height: 100vh;
        margin:0 ;
        padding:0 ;
  }
  
   .favo {
         width:8% ;
         margin:0;
         font-size:1.2em;
   }    

section {
    
    padding:8px;
    border:none;
    margin-top: 12px;
    box-shadow: 0 0 10px rgba(89, 89, 89, 0.2);
}

h5 {
      margin:3px ;
}

p {
      text-align:center ;
}

.info { width: 8%; height: 8%; font-weight: bold; font-size: 100%; margin: 0; padding: 0; border: none; box-shadow: none; }

.theme { margin:0; background-color: transparent; font-size: 100%; outline: none; width: 8%; text-align: center; border: none; box-shadow: none; }

#theme:active, .search-ico:active { transform: scale(0.9); }

.fixer {
      margin:5px;
      padding: 1px;
      vertical-align:top ;
}

.light {
      color:#555;
      text-align: center;
      font-family: Arial, sans-serif;
      background-color: white;
      transition: background-color 0.5s, color 0.5s;

}

.dark {
      color:#d9d9d9;
      text-align: center;
      font-family: Arial, sans-serif;
      background-color: #1e2429;
      transition: background-color 0.5s, color 0.5s;
}

.hymn {
      flex-wrap:wrap ;
      color:#002740;
      text-overflow:ellipsis;
      width: 100%;
      white-space: nowrap;     
      display: block;


      
}

button:active {
     color:#b3b3b3 ; 
}
.dark button {
      color:#d9d9d9;
}

    .bk-ttl {
            width:64%;
            height:8%;
            Margin:0;
            background-color: transparent;
            padding:0.5rem;
            transition: background 0.5s;
            text-align: center ;
            color:#595959 ;
            font-size:100%;
            font-weight:bold ; 
            white-space: nowrap;     
            text-overflow: ellipsis;
            Overflow:hidden;
}

    .bk-ttl2 {
            width:60% ;
            height:8vh ;
            margin-right:2% ;
            margin-left:2% ;
            margin-bottom:5px ;
            background-color: transparent;
            padding: 10px;
            transition: background 0.5s;
            text-align: center ;
            color:#595959 ;
            font-weight:bold ;
            border:0;
            box-shadow:none ;

}

.search-type {
    height: 6.9%;
    width: 70%;
    border: 1px solid #002b54;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin: 1.5%;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 100%;
    padding: 1.5%;
    background-color: transparent;
    color: #595959;
    outline: none;
   -webkit-tap-highlight-color: transparent;

}

.search-ico {
    width: 14%;
    padding: 1.5%;
    font-size: 100%;
    background-color: transparent;
    border: 0.5px solid #005ba6;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    text-align: center;
    margin: 1.5%;
    margin-top: 2px;
    margin-bottom: 0;
    outline: none;
   -webkit-tap-highlight-color: transparent;
}
.search-ico:active {
      transform: scale(0.9) ;
}

.lycfix {
  box-shadow: 0 0.3em 0.6em rgba(89, 89, 89, 0.08);
}

.lyrics {
    margin-top: 0;
    font-size: 100%;
    white-space: pre-line;
    padding: 6.2%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    user-select: text;
    color: #595959;
    text-align: left;
}

#lyrics {
    margin-top: 0;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hlyrics {
    margin-top: 0;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 18px;
    text-align: justify;
}
 
 .book-ttl {
    width: 66%;
    height: 14.5%;
    font-size:90%;
    color: #595959;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    padding: 0 3.1%;
    margin: 0.6% 0 0.6% 1.5%;
    border: none;
 }
  
.title {
    background-color:transparent;
    width:80%;
    height: 5vh;
    font-size:80%;
    color: #595959;
    font-weight: bold;
    text-align: center;
    vertical-align:bottom;
    margin:0;
    padding-bottom:0;
    align-items: center;
    white-space: nowrap;     
    text-overflow: ellipsis;
    Overflow:hidden;

}

  .nav {
       background:transparent ; 
       width:8% ;
       height: 5vh;
       font-size:2.8em;
       color: #595959;
       font-weight: bold;
       text-align: center;
       vertical-align: top;
       padding:0 ;
       margin:0 ;
       padding-bottom:1em ;

  }

.back, .back2 {
    height:10%;
    padding:1vh ;
    width:fit-content;
    font-size:70%;
    font-weight: bold;
    background-color: transparent;
    color: #595959;
    border: 0.5px solid #005ba6;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left:1%;
    margin-bottom:0 ;
    vertical-align: top;
}

#Fav {
      margin:1px ;
}
















.fixer {
      margin:5px;
      padding: 1px;
      vertical-align:top ;
}

button { 
    width:100% ;  
    margin: 0;
    padding-bottom:3px ;
    padding-top:3px ;
    user-select:none ;
    font-size:90%;
    text-align:left ;
    border:none ;
    background-color:transparent;
    color:#555;
    outline: none;
    overflow-x:ellipsis ;
   -webkit-tap-highlight-color: transparent;

}

.hymn  { 
    width:100% ;  
    margin: 0;
    padding-bottom:3px ;
    padding-top:3px ;
    font-size:90%;
    text-align:left ;
    border:none ;
    background-color:transparent;
    color:#555;
    user-select:none ;
    outline: none;
    overflow-x:ellipsis ;
    text-overflow:hidden;
   -webkit-tap-highlight-color: transparent;

}


.dark button {
      color:#d9d9d9
}

button:active {
     color: #004080; 
}


.hymn-buttons {
    margin-top: 0; 
    margin-left:4%;
    margin-right:4% ;
    position: relative; 
    height: calc(100vh - 7rem);
    overflow-y: scroll; 
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}

.dark .search-type {
   border-color:#0077c7 ;
   color:#d9d9d9 ;
}

.search-ico {
      padding:1.5%;
      background-color:transparent ;
      font-size:100%;
      width:14% ;
      border-width:0.5px ;
      border-color:#005ba6;
      border-style: solid ;
      border-bottom-left-radius: 17px ;
      border-top-right-radius: 17px;
      text-align: center ;
      margin:1.5% ;
      margin-bottom: 0;
      margin-top:2px ;
}
.search-ico:active {
      transform: scale(0.9) ;
}

.dark .search-ico {
   border-color:#0077c7 ;   
}

.lyrics {
    margin-top:0;
    font-size:100%;
    white-space: pre-line;
    padding:0;
    border: none ;
    border-radius: 4px;
    background-color: transparent;
    user-select: text;
    text-align:left ;
}
   #lyrics { 
    margin-top: 0;
    position: relative; 
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    height: 100%;
}
.hlyrics {
    margin-top: 0; 
    padding:20px ;
    position: relative; 
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size:18px ;
    text-align:left ;
}
    
.footer {
    padding:0;
    padding-left:0;
    bottom: 0;
    width: 100%;
    margin:0;
    margin-bottom:0;
    position:fixed ;
    text-align:left ;
}

.lycfixer {
    vertical-align:top ;
    width: 100%;
    position:fixed ;
    margin-top:5px ;
}
.htext {
    margin-top: 0; 
    position: relative; 
    height: calc(100vh - 9rem);
    overflow-y: scroll; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.end {
      color:transparent ;
      margin:4% ;
}

.dark .end {
      color:transparent ;
}
.end:active {
    color:transparent ;
}

.zoom-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}





